@using MbmStore.Models
@model IEnumerable<Product>

@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>
@using (Html.BeginForm("Index", "Cart"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-success" value="View Cart" />
}
<br />
<div class="row">
    <div class="col">
        <p>BOOKS</p>
        @Html.Partial("ProductSummaryBook", null)
    </div>

    <div class="col">
        <p>MUSIC CDS</p>
        @Html.Partial("ProductSummaryMusicCD", null)
    </div>

    <div class="col">
        <p>MOVIES</p>
        @Html.Partial("ProductSummaryMovie", null)
    </div>
</div>
